:root {
    --semiblack: #333333;
    --gray: #514f4f;
    --white: #ffffff;
    --black: #0e0e0eeb;

}

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(88, 88, 88);
    color: var(--white);
}

#header-logo {
    width: 100px;
    object-fit: contain;
}

#nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--gray);
    padding: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: right;
    justify-self: right;
    padding: 0 50px;
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 1.5px;
    color: var(--white);
    padding: 0 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.main-logo-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.page-name {
    color: #ffffff;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

section::before {
    display: block;
    content: " ";
    margin-top: 150px;
    height: 10px;
    visibility: hidden;
    pointer-events: none;
}

section {
    margin: 40px 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

#email-sec {
    margin-top: 150px;

}

#email-input {
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 9px;
}

h2 {
    margin-bottom: 15px;
    font-size: 30px;
}

#bottone1 {
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 9px;
    background: #65e5f3;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
}

#bottone1:hover {
    box-shadow: 7px 5px 56px -14px #00ffd9;
}

#bottone1:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #07ffe2;
}

.icon {
    color: #09dfef;
    margin-right: 30px;
}

#Features {
    /* display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px; */
    text-align: left;
    max-width: 800px;
    margin: auto;

}

.feature {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

#video {
    width: 70%;
}

#Pricing {
    background-color: #514f4f;
    padding: 5px 5px 5px 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.product1 {
    background-color: var(--white);
    width: min-content;
    height: min-content;
    margin: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

img {
    border-radius: 10px 10px 10px 10px;

}

h3 {
    color: #000000;
}

.span {
    color: #000000;
    margin: 5px 5px;
    font-weight: 1000;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.description {
    color: #000000;
}

.product2 {
    background-color: var(--white);
    width: min-content;
    height: min-content;
    margin: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.product3 {
    background-color: var(--white);
    width: min-content;
    height: min-content;
    margin: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.footerCont {
    background-color: var(--gray);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
    margin-top: 10%;
}

footer ul {
    display: flex;

}

footer ul li {
    list-style: none;

}

footer a {
    text-decoration: none;
    color: var(--white);
    padding: 5px 5px;
    margin: 5px 5px;
}

.socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;

}

.fa-facebook {
    color: rgb(10, 106, 241);
    background-color: var(--white);
    padding: 3px 1px 1px 1px;
    border-radius: 10px;
}

.fa-twitter {
    color: rgb(0, 183, 255);
    background-color: var(--white);
    padding: 3px 1px 1px 1px;
    border-radius: 10px;
}

.fa-linkedin {
    color: rgb(17, 52, 133);
    background-color: var(--white);
    padding: 3px 3px 2px 3px;
    border-radius: 10px;
}

.fa-instagram {
    color: rgb(223, 14, 223);
    background-color: var(--white);
    padding: 3px 3px 3px 3px;
    border-radius: 10px;
}

.footerNav {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-donate {
    --clr-font-main: hsla(0 0% 20% / 100);
    --btn-bg-1: hsla(194 100% 69% / 1);
    --btn-bg-2: hsla(217 100% 56% / 1);
    --btn-bg-color: hsla(360 100% 100% / 1);
    --radii: 0.5em;
    cursor: pointer;
    padding: 0.9em 1.4em;
    min-width: 120px;
    min-height: 44px;
    font-size: var(--size, 1rem);
    font-family: "Segoe UI", system-ui, sans-serif;
    font-weight: 500;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
    border: none;
    border-radius: var(--radii);
    color: var(--btn-bg-color);
    box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px rgba(175, 230, 255, 0.5), inset -4px -4px 8px rgba(19, 95, 216, 0.35);
    margin-bottom: 10px;
}

.btn-donate:hover {
    background-position: right top;
}

.btn-donate:is(:focus, :focus-within, :active) {
    outline: none;
    box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
}

@media (prefers-reduced-motion: reduce) {
    .btn-donate {
        transition: linear;
    }
}